@page "/client-area"
@* CLIENT : payé une formation (admin inclus) *@
@attribute [Authorize(Roles = "client,admin")]
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["ClientArea.Title"]</PageTitle>

<div class="pa-page">
    <MudText Typo="Typo.h3" GutterBottom="true">@L["ClientArea.Title"]</MudText>
    <MudText>@L["Common.ComingSoon"]</MudText>
</div>
