@page "/register"
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["Register.Title"]</PageTitle>

<div class="pa-page" style="max-width:460px;">
    <MudText Typo="Typo.h3" GutterBottom="true">@L["Register.Title"]</MudText>
    <MudText>@L["Common.ComingSoon"]</MudText>
</div>
