@page "/reset"
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["Reset.Title"]</PageTitle>

<div class="pa-page" style="max-width:460px;">
    <MudText Typo="Typo.h3" GutterBottom="true">@L["Reset.Title"]</MudText>
    <MudText>@L["Common.ComingSoon"]</MudText>
</div>
