@page "/telecharger"
@* LOGGED : il faut être connecté *@
@attribute [Authorize]
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["Telecharger.Title"]</PageTitle>

<div class="pa-page">
    <MudText Typo="Typo.h3" GutterBottom="true">@L["Telecharger.Title"]</MudText>
    <MudText>@L["Common.ComingSoon"]</MudText>
</div>
