@page "/training"
@* LOGGED : il faut être connecté *@
@attribute [Authorize]
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["Training.Title"]</PageTitle>

<div class="pa-page">
    <MudText Typo="Typo.h3" GutterBottom="true">@L["Training.Title"]</MudText>
    <MudText>@L["Common.ComingSoon"]</MudText>
</div>
